IQChampions/Kliens/Service References/ServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IQChampionsServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IQChampionsServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GameTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Table" nillable="true" type="tns:ArrayOfCell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameTable" nillable="true" type="tns:GameTable" />
  <xs:complexType name="ArrayOfCell">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cell" nillable="true" type="tns:Cell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCell" nillable="true" type="tns:ArrayOfCell" />
  <xs:complexType name="Cell">
    <xs:sequence>
      <xs:element minOccurs="0" name="Col" type="xs:int" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="Row" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cell" nillable="true" type="tns:Cell" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Online" type="xs:boolean" />
      <xs:element minOccurs="0" name="State" type="tns:States" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:simpleType name="States">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IDLE" />
      <xs:enumeration value="MOVE" />
      <xs:enumeration value="ANSWER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="States" nillable="true" type="tns:States" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="BadAnswer1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BadAnswer2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BadAnswer3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoodAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Questionn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
</xs:schema>