IQChampions/Kliens/Service References/ServiceReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://iqchampions.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://iqchampions.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://iqchampions.com/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/IQChampionsServiceLibrary/Service1/?xsd=xsd0" namespace="http://iqchampions.com" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/IQChampionsServiceLibrary/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/IQChampionsServiceLibrary/Service1/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/IQChampionsServiceLibrary/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/IQChampionsServiceLibrary/Service1/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/IQChampionsServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIQService_PingPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:PingPeriod" />
  </wsdl:message>
  <wsdl:message name="IIQService_PingPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IIQService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IIQService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IIQService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_SendAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAll" />
  </wsdl:message>
  <wsdl:message name="IIQService_SendAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendAllResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_getAllMesages_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllMesages" />
  </wsdl:message>
  <wsdl:message name="IIQService_getAllMesages_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllMesagesResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_SendPrivate_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPrivate" />
  </wsdl:message>
  <wsdl:message name="IIQService_SendPrivate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPrivateResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_getPrivateMesages_InputMessage">
    <wsdl:part name="parameters" element="tns:getPrivateMesages" />
  </wsdl:message>
  <wsdl:message name="IIQService_getPrivateMesages_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPrivateMesagesResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_SendRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:SendRoom" />
  </wsdl:message>
  <wsdl:message name="IIQService_SendRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_getRoomMesages_InputMessage">
    <wsdl:part name="parameters" element="tns:getRoomMesages" />
  </wsdl:message>
  <wsdl:message name="IIQService_getRoomMesages_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRoomMesagesResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IIQService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_GetStatistic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatistic" />
  </wsdl:message>
  <wsdl:message name="IIQService_GetStatistic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatisticResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_UpdateStatistic_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatistic" />
  </wsdl:message>
  <wsdl:message name="IIQService_UpdateStatistic_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatisticResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_APIping_InputMessage">
    <wsdl:part name="parameters" element="tns:APIping" />
  </wsdl:message>
  <wsdl:message name="IIQService_APIping_OutputMessage">
    <wsdl:part name="parameters" element="tns:APIpingResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_createRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:createRoom" />
  </wsdl:message>
  <wsdl:message name="IIQService_createRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:createRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_joinRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:joinRoom" />
  </wsdl:message>
  <wsdl:message name="IIQService_joinRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:joinRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_getMyRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:getMyRoom" />
  </wsdl:message>
  <wsdl:message name="IIQService_getMyRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMyRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_getRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:getRooms" />
  </wsdl:message>
  <wsdl:message name="IIQService_getRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_getRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:getRoom" />
  </wsdl:message>
  <wsdl:message name="IIQService_getRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_joinQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:joinQueue" />
  </wsdl:message>
  <wsdl:message name="IIQService_joinQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:joinQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_getQueuePosition_InputMessage">
    <wsdl:part name="parameters" element="tns:getQueuePosition" />
  </wsdl:message>
  <wsdl:message name="IIQService_getQueuePosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:getQueuePositionResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_joinFoundRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:joinFoundRoom" />
  </wsdl:message>
  <wsdl:message name="IIQService_joinFoundRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:joinFoundRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_startGame_InputMessage">
    <wsdl:part name="parameters" element="tns:startGame" />
  </wsdl:message>
  <wsdl:message name="IIQService_startGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:startGameResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_getGameTable_InputMessage">
    <wsdl:part name="parameters" element="tns:getGameTable" />
  </wsdl:message>
  <wsdl:message name="IIQService_getGameTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:getGameTableResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_refreshGameTable_InputMessage">
    <wsdl:part name="parameters" element="tns:refreshGameTable" />
  </wsdl:message>
  <wsdl:message name="IIQService_refreshGameTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:refreshGameTableResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_getActualPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:getActualPlayer" />
  </wsdl:message>
  <wsdl:message name="IIQService_getActualPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getActualPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_getMoveRemainingTime_InputMessage">
    <wsdl:part name="parameters" element="tns:getMoveRemainingTime" />
  </wsdl:message>
  <wsdl:message name="IIQService_getMoveRemainingTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMoveRemainingTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_chooseCell_InputMessage">
    <wsdl:part name="parameters" element="tns:chooseCell" />
  </wsdl:message>
  <wsdl:message name="IIQService_chooseCell_OutputMessage">
    <wsdl:part name="parameters" element="tns:chooseCellResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_getIfMoved_InputMessage">
    <wsdl:part name="parameters" element="tns:getIfMoved" />
  </wsdl:message>
  <wsdl:message name="IIQService_getIfMoved_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIfMovedResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_getQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:getQuestion" />
  </wsdl:message>
  <wsdl:message name="IIQService_getQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:getQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_getAnswerRemainingTime_InputMessage">
    <wsdl:part name="parameters" element="tns:getAnswerRemainingTime" />
  </wsdl:message>
  <wsdl:message name="IIQService_getAnswerRemainingTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAnswerRemainingTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_chooseAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:chooseAnswer" />
  </wsdl:message>
  <wsdl:message name="IIQService_chooseAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:chooseAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_getIfAnswered_InputMessage">
    <wsdl:part name="parameters" element="tns:getIfAnswered" />
  </wsdl:message>
  <wsdl:message name="IIQService_getIfAnswered_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIfAnsweredResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_getAnswerResults_InputMessage">
    <wsdl:part name="parameters" element="tns:getAnswerResults" />
  </wsdl:message>
  <wsdl:message name="IIQService_getAnswerResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAnswerResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_getStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:getStatistics" />
  </wsdl:message>
  <wsdl:message name="IIQService_getStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IIQService_returnToLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:returnToLobby" />
  </wsdl:message>
  <wsdl:message name="IIQService_returnToLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:returnToLobbyResponse" />
  </wsdl:message>
  <wsdl:portType name="IIQService">
    <wsdl:operation name="PingPeriod">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/PingPeriod" message="tns:IIQService_PingPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/PingPeriodResponse" message="tns:IIQService_PingPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/Login" message="tns:IIQService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/LoginResponse" message="tns:IIQService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/Logout" message="tns:IIQService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/LogoutResponse" message="tns:IIQService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/Ping" message="tns:IIQService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/PingResponse" message="tns:IIQService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAll">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/SendAll" message="tns:IIQService_SendAll_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/SendAllResponse" message="tns:IIQService_SendAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllMesages">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/getAllMesages" message="tns:IIQService_getAllMesages_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/getAllMesagesResponse" message="tns:IIQService_getAllMesages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPrivate">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/SendPrivate" message="tns:IIQService_SendPrivate_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/SendPrivateResponse" message="tns:IIQService_SendPrivate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPrivateMesages">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/getPrivateMesages" message="tns:IIQService_getPrivateMesages_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/getPrivateMesagesResponse" message="tns:IIQService_getPrivateMesages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendRoom">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/SendRoom" message="tns:IIQService_SendRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/SendRoomResponse" message="tns:IIQService_SendRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRoomMesages">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/getRoomMesages" message="tns:IIQService_getRoomMesages_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/getRoomMesagesResponse" message="tns:IIQService_getRoomMesages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/GetUsers" message="tns:IIQService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/GetUsersResponse" message="tns:IIQService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatistic">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/GetStatistic" message="tns:IIQService_GetStatistic_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/GetStatisticResponse" message="tns:IIQService_GetStatistic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatistic">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/UpdateStatistic" message="tns:IIQService_UpdateStatistic_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/UpdateStatisticResponse" message="tns:IIQService_UpdateStatistic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="APIping">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/APIping" message="tns:IIQService_APIping_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/APIpingResponse" message="tns:IIQService_APIping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createRoom">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/createRoom" message="tns:IIQService_createRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/createRoomResponse" message="tns:IIQService_createRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="joinRoom">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/joinRoom" message="tns:IIQService_joinRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/joinRoomResponse" message="tns:IIQService_joinRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMyRoom">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/getMyRoom" message="tns:IIQService_getMyRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/getMyRoomResponse" message="tns:IIQService_getMyRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRooms">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/getRooms" message="tns:IIQService_getRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/getRoomsResponse" message="tns:IIQService_getRooms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRoom">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/getRoom" message="tns:IIQService_getRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/getRoomResponse" message="tns:IIQService_getRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="joinQueue">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/joinQueue" message="tns:IIQService_joinQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/joinQueueResponse" message="tns:IIQService_joinQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getQueuePosition">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/getQueuePosition" message="tns:IIQService_getQueuePosition_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/getQueuePositionResponse" message="tns:IIQService_getQueuePosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="joinFoundRoom">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/joinFoundRoom" message="tns:IIQService_joinFoundRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/joinFoundRoomResponse" message="tns:IIQService_joinFoundRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="startGame">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/startGame" message="tns:IIQService_startGame_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/startGameResponse" message="tns:IIQService_startGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getGameTable">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/getGameTable" message="tns:IIQService_getGameTable_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/getGameTableResponse" message="tns:IIQService_getGameTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="refreshGameTable">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/refreshGameTable" message="tns:IIQService_refreshGameTable_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/refreshGameTableResponse" message="tns:IIQService_refreshGameTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getActualPlayer">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/getActualPlayer" message="tns:IIQService_getActualPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/getActualPlayerResponse" message="tns:IIQService_getActualPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMoveRemainingTime">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/getMoveRemainingTime" message="tns:IIQService_getMoveRemainingTime_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/getMoveRemainingTimeResponse" message="tns:IIQService_getMoveRemainingTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="chooseCell">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/chooseCell" message="tns:IIQService_chooseCell_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/chooseCellResponse" message="tns:IIQService_chooseCell_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIfMoved">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/getIfMoved" message="tns:IIQService_getIfMoved_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/getIfMovedResponse" message="tns:IIQService_getIfMoved_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getQuestion">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/getQuestion" message="tns:IIQService_getQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/getQuestionResponse" message="tns:IIQService_getQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAnswerRemainingTime">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/getAnswerRemainingTime" message="tns:IIQService_getAnswerRemainingTime_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/getAnswerRemainingTimeResponse" message="tns:IIQService_getAnswerRemainingTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="chooseAnswer">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/chooseAnswer" message="tns:IIQService_chooseAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/chooseAnswerResponse" message="tns:IIQService_chooseAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIfAnswered">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/getIfAnswered" message="tns:IIQService_getIfAnswered_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/getIfAnsweredResponse" message="tns:IIQService_getIfAnswered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAnswerResults">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/getAnswerResults" message="tns:IIQService_getAnswerResults_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/getAnswerResultsResponse" message="tns:IIQService_getAnswerResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStatistics">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/getStatistics" message="tns:IIQService_getStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/getStatisticsResponse" message="tns:IIQService_getStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="returnToLobby">
      <wsdl:input wsaw:Action="http://iqchampions.com/IIQService/returnToLobby" message="tns:IIQService_returnToLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://iqchampions.com/IIQService/returnToLobbyResponse" message="tns:IIQService_returnToLobby_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>